@media (max-width: 1200px) {
    body {
        background-color: black;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 30px;
    }

    .container .infomacoes {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container .descricao {
        color: #ffffff;
        text-align: center;
    }

    .militar {
        display: none;
    }
}

@media (max-width: 768px) {
    .container {
        display: block; /* Volta ao fluxo padrão do bloco */
    }

    .container .imagem-titulo {
        width: 80%;
        max-width: 400px;
    }

    .informacoes {
        flex-direction: column; /* Empilha a imagem e o texto verticalmente em telas menores */
        align-items: center;
    }

    .saulo {
        max-width: 300px;
    }

    .redes {
        width: 100%;
        text-align: center;
        margin-bottom: 30px; /* Espaço abaixo da lista */
        display: block; /* Alinha os itens verticalmente */
    }
}

/* Layout para telas muito pequenas */
@media (max-width: 480px) {

    .container {
        padding: 5px;
    }

    .container .imagem-titulo {
        width: 90%;
        max-width: 300px;
    }

    .saulo {
        max-width: 250px;
    }

    .redes {
        flex-direction: column; /* Alinha a lista e a imagem verticalmente */
        align-items: center;
        padding-top: 20vh;
    }

    .redes ul {
        order: 1; /* Garante que a lista fique em cima */
        margin-bottom: 30px; /* Espaço entre a lista e a imagem */
    }
}
