body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Evita que o conteúdo transborde além da página */
}

body {
    font-family: 'Poppins';
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho .logo {
    width: 100px;
}

.cabecalho .menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.cabecalho nav li a {
    font-weight: bold;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.2s;
}

.cabecalho nav li a:hover {
    background-color: green;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Garante que o container ocupe pelo menos a altura da tela */
    padding: 20px;
}

.redes {
    display: flex;
    align-items: flex-start; /* Alinha os itens no início verticalmente */
    gap: 800px; /* Espaço entre a lista e a imagem */
    width: 100%; /* Ajusta a largura do contêiner */
    max-width: 1200px; /* Define uma largura máxima para o contêiner */
}

.redes-content {
    flex: 1; /* Faz com que a lista ocupe o espaço disponível */
    display: flex;
    flex-direction: column;
}

.redes .descricao {
    color: #ffffff;
    width: 100%;
    font-size: 18px;
    margin: 30px 0;
    text-align: justify;
}

.redes ul {
    list-style-type: disc;
    margin: 0;
    padding: 0;
}

.redes ul li {
    display: flex;
    align-items: center; /* Centraliza verticalmente o texto em relação à imagem */
    margin-bottom: 10px; /* Espaço entre os itens da lista */
    transition: transform 0.3s ease;
}

.redes ul li a {
    text-decoration: none; /* Remove o sublinhado do link */
    color: #ffffff;
    font-size: 15px;
    padding: 10px;
}

.redes ul li:hover {
    transform: scale(1.1); /* Expande o item da lista */
}

.redes ul li img {
    margin-right: 10px; /* Espaço entre a imagem e o texto */
}

.militar {
    max-width: 300px; /* Define uma largura máxima para a imagem */
    width: 100%; /* Ajusta a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
}

/* Estilo de fundo do vídeo */
.fundo-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Mantém o vídeo no fundo, atrás do conteúdo */
}

.fundo-video .video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%); 
}

.fundo-video::after {
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(17,143,18,0) 50%, rgba(0,0,0,1) 90%);
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que o vídeo cubra toda a área */
}
